
 div,li{box-sizing:border-box;
-moz-box-sizing:border-box; Firefox
-webkit-box-sizing:border-box; Safari} 
div p,div span,div i{color:#fff;font-size:40px}
.selected{background: #092257;}
.div1{width: 1365px;float:left;}
.headspan{margin:45px 20px;}
.headspan>span{font-size:3em;font-weight: 700;border-top:8px solid #52d3e3;}
.num{font-size: 1em;}
.yellow{color: #e6d929 !important;}
.red{color: #dd6763 !important;}
.blue{background-color:#274e9d;}
.icon.red{background:#dd6763;width:30px;height: 62px;}
.icon.yellow{background:#e6d929;height:34px;width:20px;}
.icon.yellow.w{background:#e6d929;height:62px;width:30px;}
.icon.blue{background:#7ab3fe;width:30px;height: 62px;}
.cube{display: inline-block}
/*勤务报备*/
.qwbb{width: 1365px;padding:15px;height:1060px;border:8px solid #52d3e3;background: #102b65;}
.qwbbBody{border-top:8px solid #52d3e3;border-bottom:8px solid #52d3e3;}
.qwbbBody ul{height:775px;overflow: hidden}
.qwbbBody .li1{height:187px;}
.qwbbBody .li1>i{display: inline-block;}
.qwbbBody li>span{display: inline-block;}
.qwbb>div>span{display: inline-block;}
.qwbbDZ{width:310px;text-align: center;}
.qwbbMJ,.qwbbFJ,.qwbbCL,.qwbbTC,.qwbbDQ{width:190px;text-align: center;}
.qwbbBody li{height:65px;}


/* 今日值班 */
.jrzb{width: 1365px;padding:15px;height:1600px;border:8px solid #52d3e3;background: #102b65;margin-top:40px;}
.jrzb ul>li{float:left;width: 620px;height: 230px;margin-top:30px;margin-bottom:30px;}
.jrzb ul>li>img{float:left;margin-right:40px;width: 220px;height: 230px;}
.jrzb ul>li>div{float:left;}
.jrzb ul>li>div p{font-size: 30px;line-height: 60px}
.jrzb>.zbld{border-top:8px solid #52d3e3;padding:20px;overflow: hidden;margin-top:40px;}
.jrzb>.zhzx{border-top:4px solid #52d3e3;border-bottom:4px solid #52d3e3;}
.jrzb>.zb{padding:20px;overflow: hidden}

/* 警情通报 */
.div2{float:left;border:8px solid #52d3e3;margin-left:40px;margin-top:150px;padding:20px;background: #102b65;width:1400px;height:2550px;}
.cont{margin:0 20px;border-top: 7px solid #52d3e3;color:#fff;font-size:2em;padding-top:40px;}
.cont1{position:relative;height:430px;}
.cont1 div{width:45%;}
.left_subdiv{float:left;}
.right_subdiv{float:right;}
.cont1 .cont_title{background: #3f51b5;margin: 40px 0px;line-height: 120px;text-align: center;}
.cont1 p{line-height:80px;}
.cont1 p span{float:right;}
.cont2{height:540px;}
.cont2 ul>li>span{font-size:1.5em;}
.cont2 ul>li i{width: 20%;display: inline-block;line-height: 130px;text-align: center;font-size: 1.5em}		
.cont3{height:760px;position:relative;}
.cont3 .left_subdiv{padding: 20px 0px;}
.cont3 .subtitle{margin-left:30%;}
.cont3 .subtitle i{float: left;font-size: 1.5em;margin-bottom:40px;}
.cont3 .left_subdiv,.cont3 .right_subdiv{height:94%;}
.cont3 .chart{width:100%;height:90%;}
.cont4{height:540px;border:0px;margin-top:40px;border-top:7px solid #52d3e3;}
.cont4 .subtitle{width: 100%;height: 42px;}
.cont4 .subtitle i{float:left;font-size:1.5em;}
.cont4 .chart{width:100%;height:110%;}

/* 公安日历 */
.div3{float:left;margin-left:40px;margin-top:150px;width:1220px;height:2550px;}
.div3 .garl{width: 100%;height: 870px;background: #102b65;border:8px solid #52d3e3;padding:20px;}
.div3 .sjlw{width: 100%;height: 690px;background: #102b65;border:8px solid #52d3e3;margin-top:40px;padding:20px;}
.div3 .sjlw .sjlwBody{width:100%;border-top:7px solid #52d3e3;}
.div3 .sjlwBody ul{height:460px;overflow: hidden}
.div3 ul li{height: 120px;border-bottom:3px solid #52d3e3;}
.div3 ul li i{display: inline-block;color:#fff;font-size: 2em; vertical-align: middle;}
.div3 .bd i{font-size: 1em;}
.div3 .sjlwXH{width: 160px;text-align: center;line-height: 120px}
.div3 .sjlwBT{width: 560px;overflow: hidden;text-align: center;}
.div3 .bd .sjlwBT{text-align: left; vertical-align: middle;}
.div3 .sjlwCD{width: 200px;text-align: center;line-height: 120px;}
.div3 .sjlwQS{width: 220px;text-align: center;line-height: 120px;}
.div3 .sjyj{width: 100%;height: 910px;background: #102b65;border:8px solid #52d3e3;margin-top:40px;padding:20px;}
.div3 .sjyj .sjyjBody{width:100%;border-top:7px solid #52d3e3;}
.div3 .sjyjBody ul{height:700px;overflow: hidden}

/* 今日舆情 */
.div4{float:left;margin-left:40px;margin-top:150px;width:900px;height:2550px;padding:20px;background: #102b65;border:8px solid #52d3e3;}
.yqFLTJBody{width: 100%;height:500px;border-top:5px solid #52d3e3;}
.div4 .jrtt li{height: 330px;margin-top:30px;}
.div4 .jrtt .block{float:left;width: 70px;height: 110px;background-color: #5ef0ff;color:#fff;line-height: 110px;text-align: center;font-size: 3em;}
.div4 .jrtt .newsContent{float:left;margin-left:10px;border-top:8px solid #52d3e3;border-bottom:8px solid #52d3e3;padding:30px 20px;width: 750px;}
.div4 .jrtt .newsContent p{font-size: 1.5em;line-height: 1.5em}
.div4 .jrtt .newsContent img{margin-top:10px;width: 180px;height: 130px;}
.div4 .title{margin-top:30px; vertical-align: middle;}
.div4 .fmyq{margin-top: 30px;}
.div4 .fmyq ul{overflow: hidden;height: 920px;}
.div4 .fmyq li span{font-size: 2em;display: inline-block;text-align: center;}
.div4 .fmyq .bd .btContent{text-align: left;line-height: 1.5em}
.div4 .fmyq .xh{width: 160px;}
.div4 .fmyq .bt{width: 500px;}
.div4 .fmyq .cc{width: 160px;}
.div4 .fmyq .bd li{height: 130px;border-bottom:3px solid #52d3e3;}
.div4 .fmyq .bd li span{font-size: 1.5em;line-height: 130px; vertical-align: middle;}

/* 重点人员分布 */
.div5{float:left;margin-left:40px;margin-top:150px;width:1250px;height:2550px;padding:20px;background: #102b65;border:8px solid #52d3e3;}
.div5 .zdryTitle{border-top:5px solid #52d3e3;padding-top:20px;}
.div5 .zdrylxBody{height:500px;margin-top:20px;}
.div5 .zdrylxBody .chart{width: 100%;height: 100%;}
.div5 .zdryfbBody{height: 800px;margin-top:20px;}
.div5 .zdryfbBody .chart{width: 100%;height: 100%;}
.div5 .zdryTable{margin-top:20px;}
.div5 .zdryTable li{height: 79px;}
.div5 .zdryTable span{display: inline-block;text-align: center;line-height: 79px}
.div5 .zdryTable .jd{width: 250px;}
.div5 .zdryTable .sw{width: 120px;}
.div5 .zdryTable .xf{width: 120px;}
.div5 .zdryTable .tx{width: 230px;}
.div5 .zdryTable .zj{width: 230px;}
.div5 .zdryTable .hj{width: 120px;}

.div6{float:left;margin-left:40px;margin-top:150px; width: 1200px;height: 2550px;}
.div6 .zdryyj{padding:20px;background: #102b65;border:8px solid #52d3e3;width: 100%;height: 490px;}
.div6 .zdryyj .zdryyjContent{border-top:5px solid #52d3e3;padding-top:20px;}
.div6 .zdryyj .zdryyjContent span{text-align: center;line-height: 62px}
.div6 .zdryyj .zdryyjContent .lg{font-size: 1.5em;}
.div6 .zdryyj .zdryyjContent .span1{width: 170px;display: inline-block;}
.div6 .zdryyj .zdryyjContent .span2{width: 199px;display: inline-block;}
.div6 .zdryyj .zdryyjContent .zdryyjBody span{font-size: 1.5em;}
.div6 .rksjzs{padding:20px;background: #102b65;border:8px solid #52d3e3;width: 100%;height: 900px;margin-top:30px;}
.div6 .jdcbl{padding:20px;background: #102b65;border:8px solid #52d3e3;width: 100%;height: 1100px;margin-top:30px;}
.div6 .rksj{width: 100%;height: 720px;}
.div6 .rksj ul{width: 100%;height: 100%;position: relative;}
.div6 .rksj ul li{width: 48%;height: 40%;float:left;position:relative;margin-bottom:50px;}
.div6 .rksj ul li>div{width: 100%;height: 100%;}
.div6 .rksj ul li p{position: absolute;left:33%;bottom: -40px;font-size: 20px;text-align: center;}
.div6 .rksj ul li p span{font-size: 20px;line-height: 20px;display: inline-block;padding:10px;width: 240px;}
.div6 .rksj ul li p .span1{background:url(../image/sum_bg_03.png) no-repeat;width: 145px;}
.div6 .rksj ul .center{position: absolute;top:38%;left:45%;width: 160px;text-align: center;}
.div6 .jdcbl .jdcBody{position:relative;}
.div6 .jdcbl .jdcsj{width: 100%;height: 880px;border-top: 5px solid #52d3e3;padding-top:30px;}
.div6 .jdcbl .jdcBody .jdczs{position: absolute;top:80px;right:100px;}
.div6 .jdcbl .jdcBody .jdczs li{width: 250px;float:left;margin-top:20px;}
.div6 .jdcbl .jdcBody .jdczs li span{font-size: 1.5em;}

.div7{float:left;margin-left:40px;width: 1980px;}
.div7 .gcsj{width:100%;height: 870px;padding:20px;background: #102b65;border:8px solid #52d3e3;overflow: hidden}
.div7 .gcsj .gcsjBody{position: relative;width: 100%;}
.div7 .gcsj .hd{width: 600px;position: absolute;top: -150px;right:0;}
.div7 .gcsj .hd ul{width: 100%;}
.div7 .gcsj .hd ul li{width: 12%;height: 75px;margin-right:20px;background-color: #2d3348;color:#fff;display: inline-block;text-align: center;line-height:75px;}
.div7 .gcsj .hd ul li.on{background-color: #274e9d;}
.div7 .gcsj .bd{width: 600%;}
.div7 .gcsj .bd ul{width: 101%;}
.div7 .gcsj .bd ul li{width: 16.667%;height: 770px;float:left;position: relative;}
.div7 .gcsj .bd ul li>div{width: 100%;height: 90%;padding-top:100px;}
.div7 .gcsj .bd ul li>.sub_div{position: absolute;top:-100px;right:50px;width: 400px;height: 100px;}
.div7 .gcsj .bd ul li>.sub_div span{line-height: 40px;width: 100%;}
.div7 .gcsj .bd ul li>.sub_div .kk1{display: inline-block;height:80px;line-height: 80px;background-color:#2d3348;margin-bottom:20px;}

.div7 .jdrzsj{width:100%;height: 920px;padding:20px;background: #102b65;border:8px solid #52d3e3;margin-top:30px;overflow: hidden;position: relative;}
.div7  ul{width: 100%;overflow: hidden}
.div7  li{width: 100%;height: 104px;}
.div7  li span{display: inline-block;line-height:104px;text-align: center;}
.div7  li .xh{width: 150px;}
.div7  li .mc{width: 380px;}
.div7  li .dz{width: 655px;}
.div7  li .cws{width: 200px;}
.div7  li .kfs{width: 300px;}
.div7  li .bfb{width: 200px;}
.div7 .wbswsj{width:100%;height: 850px;padding:20px;background: #102b65;border:8px solid #52d3e3;margin-top:30px;overflow: hidden;position: relative;}
.div7 .wbswsj li{height: 111px;}
.div7 .wbswsj li span{line-height: 111px;}
.div7 .tj{position: absolute;top:20px;right:0;width: 800px;}
.div7 .tj li{float:left;width: 400px;height: 40px;margin-top:20px;}
.div7 .tj li span{line-height: 40px;font-weight: 700;}